.App {
  
  /* background-color: #00aaaa; */
}

.contents-wrapper {
  padding-top: 200px;
  min-width: 720px;
  max-width: 1280px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
}
